<!doctype html>
<html lang="en">
    <head>
        <title><%= pageTitle %></title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" >
        <link href="../node_modules/bootstrap/dist/js/bootstrap.min.js" >    
      </head>

  <body>
      <header>      
          <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/getAllHospice">Hospice</a></li>
                  <li><a href="/getAllBehavioral">Behavioural Health</a></li>
                  <li><a href="/getAllAssistedLiving">Assisted Living</a></li>
                  <li><a href="/getAllAcute">Acute Facility</a></li> 
                  <% if (isAuthenticated) { %>  
                    <li><a href="/getuserInfo">User Info</a></li> 
                  <% } %>
                </ul>
                <ul>  
                    <% if (!isAuthenticated) { %>                
                  <li><a href="/getSignup"><button class="btn btn-dark pull-right">Sign Up</button></a></li>                                                 
                  <li><a a href="/getLogin"><button class="btn btn-dark pull-right">Log In</button></a></li>                
                  <% } else { %>
                  <li><a a href="/logout"><button class="btn btn-dark pull-right">Logout</button></a></li>  
                  <% } %>
                </ul>
              </div>
            </nav>  
      </header>


      <main role="main" class="container">  

       
          <div class="jumbotron text-center">
            <h1>Acadiana Health Coalition</h1>             
            <h1> Welcome <%= userInfo[0].username %> </h1>
          </div>           

          <div class="table-responsive">                           
            <div>
                <div>               
                    <div class="btn pull-right">                                         
                      <a href="/addAcutedetails">Add</a>                             
                    </div>
                    <h1>Acute</h1>
                </div>
                <% userInfo.forEach(function(userInfoObj){ %> 
                <% if(userInfoObj.category === "Acute") { %>   
                <form method="post" action="/postAcutedetails">
                <table class="table table-striped">
                    <tr>
                      <th>Agency</th>                     
                    </tr>
                    <tr>
                        <td><button class="btn btn-link" role="link" type="submit" name="Agency" value="<%= userInfoObj.agency %>"><%= userInfoObj.agency %></button></td>                                                                                                                     
                      <input type="hidden" value= <%= true %> name="isAuthorised">
                    </tr>
                  </table>
                </form>
              <% } %>
              <% }); %>   
            </div>
            
            <div>
                <div class="btn pull-right">  
                  <a href="/addAssistedLivingdetails">Add</a>                                    
                  </div>
                  <h1>AssistedLiving</h1>                               
                  <div>         
                      <% userInfo.forEach(function(userInfoObj){ %>    
                      <% if(userInfoObj.category === "Assisted") { %>                       
                    <form method="post" action="/postAssistedLivingdetails">
                    <table class="table table-striped">
                        <tr>
                          <th>Agency</th>                                 
                        </tr>
                        <tr>                                  
                          <td><button class="btn btn-link" role="link" type="submit" name="Agency" value="<%= userInfoObj.agency %>"><%= userInfoObj.agency %></button></td>                                                                                                                     
                          <input type="hidden" value= <%= true %> name="isAuthorised">
                        </tr>
                      </table>
                    </form>
                  </div>
                  <% } %>  
                  <% }); %>                 
            </div> 
            
            <div>                   
                      <div>               
                        <div class="btn pull-right">                    
                          <a href="/addBehaviouraldetails">Add</a>                 
                        </div>
                        <h1>Behavioural</h1>
                        </div>
                        <% userInfo.forEach(function(userInfoObj){ %> 
                        <% if(userInfoObj.category === "Behavioural") { %>
                        <form method="post" action="/postBehavioraldetails">
                        <table class="table table-striped">
                            <tr>
                              <th>Agency</th>                            
                            </tr>
                            <tr>
                                <td><button class="btn btn-link" role="link" type="submit" name="Agency" value="<%= userInfoObj.agency %>"><%= userInfoObj.agency %></button></td>                                                                                                                     
                              <input type="hidden" value= <%= true %> name="isAuthorised">
                            </tr>
                          </table>
                        </form>
                      <% } %>
                      <% }); %>
            </div>

            <div>                   
                <div>               
                  <div class="btn pull-right">                    
                    <a href="/addHospicedetails">Add</a>                 
                  </div>
                  <h1>Hospice</h1>
                  </div>
                  <% userInfo.forEach(function(userInfoObj){ %> 
                  <% if(userInfoObj.category === "Hospice") { %>
                  <form method="post" action="/postHospicedetails">
                  <table class="table table-striped">
                      <tr>
                        <th>Agency</th>                            
                      </tr>
                      <tr>
                          <td><button class="btn btn-link" role="link" type="submit" name="Agency" value="<%= userInfoObj.agency %>"><%= userInfoObj.agency %></button></td>                                                                                                                     
                        <input type="hidden" value= <%= true %> name="isAuthorised">
                      </tr>
                    </table>
                  </form>
                <% } %>
                <% }); %>
      </div>
          </div>       
        
      </main>                                
  </body>
</html>


