<!doctype html>
<html lang="en">
  <head>
    <title><%= pageTitle %></title>
    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" >
    <link href="../node_modules/bootstrap/dist/js/bootstrap.min.js" >    
  </head>

  <body>
    <header>      
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/getAllHospice">Hospice</a></li>
            <li><a href="/getAllBehavioral">Behavioural Health</a></li>
            <li><a href="/getAllAssistedLiving">Assisted Living</a></li>
            <li><a href="/getAllAcute">Acute Facility</a></li> 
            <% if (isAuthenticated) { %>  
              <% if (!isAdmin) { %>  
                <li><a href="/getuserInfo">User Info</a></li> 
              <% } %>
              <% if (isAdmin) { %>  
              <li><a href="/getPendingUsers">User Approvals</a></li> 
              <% } %>
            <% } %>
          </ul>
          <ul>  
              <% if (!isAuthenticated) { %>                
            <li><a href="/getSignup"><button class="btn btn-dark pull-right">Sign Up</button></a></li>                                                 
            <li><a a href="/getLogin"><button class="btn btn-dark pull-right">Log In</button></a></li>                
            <% } else { %>
            <li><a a href="/logout"><button class="btn btn-dark pull-right">Logout</button></a></li>  
            <% } %>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container">                        
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Acadiana Health Coalition</h1>
        <h2 class="sub-header">ACUTE Facilities</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Agency</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone No</th>
                <th>Phone No 2</th>
              </tr>
            </thead>
            <tbody>
              <form method="post" action="/postAcutedetails">
                <% myAcute.forEach(function(myAcuteObj) { %>
                  <tr>
                    <td>
                      <button class="btn btn-link" role="link" type="submit" name="Agency" value="<%= myAcuteObj.Agency %>"><%= myAcuteObj.Agency %></button>
                    </td>
                    <td><%= myAcuteObj.Address %></td>
                    <td><%= myAcuteObj.City %></td>
                    <td><%= myAcuteObj.State %></td>
                    <td><%= myAcuteObj.Zip %></td>
                    <td><%= myAcuteObj.Phone_No1 %></td>
                    <td><%= myAcuteObj.Phone_No2 %></td>
                  </tr>
                <% }); %>
              </form>
            </tbody>
          </table>
        </div>
      </div>           
    </main>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">This is footer</span>
      </div>
    </footer> 
  </body>
</html>