<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View Hospice</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
            </style>
    </head>
    <body>
        <header>      
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/getAllHospice">Hospice</a></li>                    
                        <li><a href="/getAllBehavioral">Behavioural Health</a></li>
                        <li><a href="/getAllAssistedLiving">Assisted Living</a></li>
                        <li><a href="/getAllAcute">Acute Facility</a></li> 
                        <% if (isAuthenticated) { %>  
                          <% if (!isAdmin) { %>  
                            <li><a href="/getuserInfo">User Info</a></li> 
                          <% } %>
                          <% if (isAdmin) { %>  
                          <li><a href="/getPendingUsers">User Approvals</a></li> 
                          <% } %>
                        <% } %>
                    </ul>
                    <ul>  
                        <% if (!isAuthenticated) { %>                
                        <li><a href="/getSignup"><button class="btn btn-dark pull-right">Sign Up</button></a></li>                                                 
                        <li><a a href="/getLogin"><button class="btn btn-dark pull-right">Log In</button></a></li>                
                        <% } else { %>
                        <li><a a href="/logout"><button class="btn btn-dark pull-right">Logout</button></a></li>  
                        <% } %>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <h1 class="page-header">Acadiana Health Coalition</h1>
                        <% myBehavioralInfo.forEach(function(myBehavioralObj) { %>

                         <h2 class="sub-header"><%= myBehavioralObj.Agency %></h2>

                         <% if (isAuthorised || isAdmin) { %> 
                          <div>
                              <form method="post" action="/deleteBehavioraldetails"> 
                                <input type="hidden" value="<%= myBehavioralObj.Agency %>" name="agency">  
                                <input type="hidden" value="<%= myBehavioralObj._id %>" name="agencyid">                                  
                                <a a href="/deleteBehavioraldetails"><button class="btn btn-primary pull-right">Delete</button></a>
                              </form>
                              <form method="post" action="/editGetBehavioraldetails">  
                                <input type="hidden" value="<%= myBehavioralObj._id %>" name="agencyid">   
                                <input type="hidden" value="<%= myBehavioralObj.Agency %>" name="Agency">                   
                                <button class="btn btn-primary pull-right">Edit</button>
                              </form>   
                          </div>
                         <% } %>

                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              
                            </thead>
                            <tbody>
                                
                          <table>
                              <tr><input type="hidden" value="<%= myBehavioralObj._id %>" name="agencyid"></tr>
                            <tr>
                              <th>Address: </th>
                              <td><%= myBehavioralObj.Address %></td>
                            </tr>
                            <tr>
                              <th>City: </th>
                              <td><%= myBehavioralObj.City %></td>
                            </tr>
                            <tr>
                              <th>State: </th>
                              <td><%= myBehavioralObj.State %></td>
                            </tr>
                            <tr>
                              <th>Zip: </th>
                              <td><%= myBehavioralObj.Zip %></td>
                            </tr>
                            <tr>
                              <th>Phone_No1: </th>
                              <td><%= myBehavioralObj.Phone_No1 %></td>
                            </tr>
                            <tr>
                              <th>Phone_No2: </th>
                              <td><%= myBehavioralObj.Phone_No2 %></td>
                            </tr>
                            <tr>
                              <th>Parish: </th>
                              <td><%= myBehavioralObj.Parish %></td>
                            </tr>
                            <tr>
                              <th>Administrator_Name: </th>
                              <td><%= myBehavioralObj.Administrator_Name %></td>
                            </tr>
                            <tr>
                              <th>Admin_Phone_No: </th>
                              <td><%= myBehavioralObj.Admin_Phone_No %></td>
                            </tr>
                            <tr>
                              <th>Admin_Email: </th>
                              <td><%= myBehavioralObj.Admin_Email %></td>
                            </tr>
                            <tr>
                              <th>DON1_Name: </th>
                              <td><%= myBehavioralObj.DON1_Name %></td>
                            </tr>
                            <tr>
                              <th>DON1_Phone_No: </th>
                              <td><%= myBehavioralObj.DON1_Phone_No %></td>
                            </tr>
                            <tr>
                              <th>DON1_Email: </th>
                              <td><%= myBehavioralObj.DON1_Email %></td>
                            </tr>
                            <tr>
                              <th>DON2_Name: </th>
                              <td><%= myBehavioralObj.DON2_Name %></td>
                            </tr>
                            <tr>
                              <th>Medical_Director1_Name: </th>
                              <td><%= myBehavioralObj.Medical_Director1_Name %></td>
                            </tr>
                            <tr>
                              <th>Medical_Director1_Phone_No: </th>
                              <td><%= myBehavioralObj.Medical_Director1_Phone_No %></td>
                            </tr>
                            <tr>
                              <th>Medical_Director1_Email: </th>
                              <td><%= myBehavioralObj.Medical_Director1_Email %></td>
                            </tr>
                            <tr>
                              <th>Medical_Director2_Name: </th>
                              <td><%= myBehavioralObj.Medical_Director2_Name %></td>
                            </tr>
                            <tr>
                              <th>Medical_Director2_Phone_No: </th>
                              <td><%= myBehavioralObj.Medical_Director2_Phone_No %></td>
                            </tr>
                            <tr>
                              <th>Medical_Director2_Email: </th>
                              <td><%= myBehavioralObj.Medical_Director2_Email %></td>
                            </tr>
                            <tr>
                              <th>Website: </th>
                              <td><%= myBehavioralObj.Website %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison1_Name: </th>
                              <td><%= myBehavioralObj.Facility_Liaison1_Name %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison1_Phone_No: </th>
                              <td><%= myBehavioralObj.Facility_Liaison1_Phone_No %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison1_Email: </th>
                              <td><%= myBehavioralObj.Facility_Liaison1_Email %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison2_Name: </th>
                              <td><%= myBehavioralObj.Facility_Liaison2_Name %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison2_Phone_No: </th>
                              <td><%= myBehavioralObj.Facility_Liaison2_Phone_No %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison2_Email: </th>
                              <td><%= myBehavioralObj.Facility_Liaison2_Email %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison3_Name: </th>
                              <td><%= myBehavioralObj.Facility_Liaison3_Name %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison3_Phone_No: </th>
                              <td><%= myBehavioralObj.Facility_Liaison3_Phone_No %></td>
                            </tr>
                            <tr>
                              <th>Facility_Liaison3_Email: </th>
                              <td><%= myBehavioralObj.Facility_Liaison3_Email %></td>
                            </tr>
                            <tr>
                              <th>Accept_PCP: </th>
                              <td><%= myBehavioralObj.Accept_PCP %></td>
                            </tr>
                            <tr>
                              <th>Accept_PEC_CEC: </th>
                              <td><%= myBehavioralObj.Accept_PEC_CEC %></td>
                            </tr>
                            <tr>
                              <th>Age_criteria: </th>
                              <td><%= myBehavioralObj.Age_criteria %></td>
                            </tr>
                            <tr>
                              <th>Accept_Medically_Complex_pt: </th>
                              <td><%= myBehavioralObj.Accept_Medically_Complex_pt %></td>
                            </tr>
                            <tr>
                              <th>Aetna: </th>
                              <td><%= myBehavioralObj.Aetna %></td>
                            </tr>
                          </table>
                          <% }); %>
                            </tbody>
                          </table>
                        </div>
                      </div>
            





        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">This is footer</span>
            </div>
        </footer> 
    </body>
</html>